{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PagoLink | Correo Enviado</title>
  <link rel="stylesheet" href="{% static 'css/adminlte.min.css' %}">
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="card card-outline card-success">
    <div class="card-body text-center">
      <i class="fas fa-paper-plane fa-3x text-success mb-3"></i>
      <h4>¡Correo enviado!</h4>
      <p>Hemos enviado instrucciones para restablecer tu contraseña a tu correo electrónico. Por favor, revisa tu bandeja de entrada (y la carpeta de SPAM si es necesario).</p>
      <a href="{% url 'dashboard:login' %}" class="btn btn-primary btn-sm">Ir al Login</a>
    </div>
  </div>
</div>
</body>
</html>
